@model EstudoProjetoCS.Models.ProcedimentoModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4"> Editar Cadastro</h1>
</div>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Codigo_Procedimento" class="control-label"></label>
        <input asp-for="Codigo_Procedimento" class="form-control" />
        <span asp-validation-for="Codigo_Procedimento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descricao" class="control-label"></label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prioridade" class="control-label"></label>
        <input asp-for="Prioridade" class="form-control" />
        <span asp-validation-for="Prioridade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Valor" class="control-label"></label>
        <input type="number" step="any" asp-for="Valor" class="form-control" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Data_Solicitacao" class="control-label"></label>
        <input asp-for="Data_Solicitacao" class="form-control" />
        <span asp-validation-for="Data_Solicitacao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdAtendente" class="control-label"></label>
        <select asp-for="IdAtendente" class="form-control" asp-items="ViewBag.IdAtendente"></select>
        <span asp-validation-for="IdAtendente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdCliente" class="control-label"></label>
        <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
        <span asp-validation-for="IdCliente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdTecnico" class="control-label"></label>
        <select asp-for="IdTecnico" class="form-control" asp-items="ViewBag.IdTecnico"></select>
        <span asp-validation-for="IdTecnico" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" value="Salvar" class="btn btn-primary" />
    <a class="btn btn-secondary" asp-action="Index" role="button">Voltar</a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
