@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Área Restrita";
}

<p>Você não tem permissão para realizar esta ação, <a asp-controller="Home" asp-action="Index">Retornar a página inicial.</a></p>